body{
    margin:0;
}
header{
    color:yellowgreen;
    background-image:url(/image/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    text-align: center;
    font-size: x-large;
    font-family:fantasy;
    
}
.Menu{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:rgb(6, 6, 87);
}
.Menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.Menu ul li a{
    text-decoration: none;
    color:aliceblue;
}
.Menu ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.Menu ul li a:hover::before{
    width: 100%;
}
.Menu i{
    padding: 5px;
}
h2{
    color:red;
    padding:20px;
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
}
h4{
    color:red;
    padding: 10px 20px 10px 20px;
    text-decoration:underline;
}
p{
    color:midnightblue;
    text-align: justify;
    padding: 5px 20px 5px 20px;
    font-family:Cambria, Cochin, 'Times New Roman';
}
img{
    width: 400px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.pie-pagina{
    width:100%;
    background-color:black;
    display: flex;
    padding: 80px;
}
.pie-pagina .column1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-gap: 30px;
    color: aliceblue;
}
.pie-pagina .column2{
    width: 100%;
    margin: auto;
    display:grid;
    grid-gap: 30px;
    color: aliceblue;
}
.pie-pagina .row label:hover{
    background-color: coral;
    padding: 20px;
}
.pie-pagina .row2 label:hover{
    background-color: coral;
    padding: 20px;
}
