body{
    margin: 0;
}

header{
    color:yellowgreen;
    background-image:url(/image/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    text-align: center;
    font-size: x-large;
    font-family:fantasy;    
}
.Menu{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:rgb(6, 6, 87);
}
.Menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.Menu ul li a{
    text-decoration: none;
    color:aliceblue;
}
.Menu ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.Menu ul li a:hover::before{
    width: 100%;
}
.Menu i{
    padding: 5px;
}
h2{
    text-align: center;
    color:rgb(251, 114, 15);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sol p{
    text-align: center;
    color:lightslategrey;
    padding: 5px 300px 10px 300px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sol img{
    width:600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: block;
}
.tipos h3{
    text-align: center;
    color:fuchsia;
    font-size: xx-large;
    font-family: cursive;
}
.tipos p{
    padding: 20px 10px 0 20px;
    text-align: justify;
    color:gray;
}
.tipos h4{
    color:red;
    padding: 20px 20px 10px 20px;
    font-size: x-large; 
}
table,th,td{
    border:2px solid red;
}
main h4{
    text-align: center;
    font-size: xx-large;
    color:fuchsia
}
table{
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    margin: 50px;

}
td img{
    width: 50%;
    height: 50%;
}
th{
    height: 50px;
    width:50px;
}
tr img{
    width:90px;
    height: 75px;
}
tr:hover{
    background-color: khaki;
}
.pie-pagina{
    width:100%;
    background-color:black;
    display: flex;
    padding: 80px;
}
.pie-pagina .column1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-gap: 30px;
    color: aliceblue;
}
.pie-pagina .column2{
    width: 100%;
    margin: auto;
    display:grid;
    grid-gap: 30px;
    color: aliceblue;
}
.pie-pagina .row label:hover{
    background-color: coral;
    padding: 20px;
}
.pie-pagina .row2 label:hover{
    background-color: coral;
    padding: 20px;
}
