body{
    margin:0;
}
header{
    color:yellowgreen;
    background-image:url(/image/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    text-align: center;
    font-size: x-large;
    font-family:cursive;
    
}
.Menu{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:rgb(6, 6, 87);
}
.Menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.Menu ul li a{
    text-decoration: none;
    color:aliceblue;
}
.Menu ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.Menu ul li a:hover::before{
    width: 100%;
}
.Menu i{
    padding: 5px;
}
h2{
    text-align: center;
    font-size: 50px;
}
main{
    display: flex;
    min-height: 100vh;
}
form{
    background-color:cornflowerblue;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
}
